<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" width="35" height="35" alt="">
    <h3>Study for work</h3>
  </a>
</nav>
<style>
    .navbar{
       width: 100%; 
       top: 0;
    }
    .navbar h3{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
</style>