<form>
  <div class="form-group" method="POST">
    <label for="exampleInputEmail1">Search</label>
    <input type="text" class="form-control" id="search" aria-describedby="emailHelp" placeholder="enter key you find">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<style>
form{
        height: 100vh;
}
.form-group{
    margin-top: 200px;
    margin: 0;
    padding: 10px;
}
</style>